/* Laptop screen css */

.page-container {
  padding: 5px;
  display: flex;
  gap: 0.5em;
  max-height: 100vh;
  /* Ensures it takes up full viewport height*/
  overflow-y: hidden; /* Prevents the container itself from scrolling */
  overflow-x: hidden;
  position: relative;
}

.page-container .guide-toggle {
  display: none;
}

.side-bar {
  flex-basis: 25%;
  border-right: 2px solid rgb(150, 145, 150);
  top: 0;
  align-self: flex-start;
  overflow-y: auto;
  height: 100vh;
}

/* tree structure of side bar style */

.Tree {
  position: sticky;
  display: flex;
  flex-direction: column;
  border-left: 3px solid black;
  margin-left: 0.8rem;
  gap: 1rem;
}

.Tree a {
  text-decoration: none;
}

.branch {
  position: relative;

  padding-left: 1.5rem;
}

.branch h4 {
  font-size: 1.6rem;
}

.branch h4 a {
  color: rgb(71, 128, 196);
}
.branch > a {
  font-weight: 500;
  color: rgb(110, 176, 255);
}
.leaves {
  display: block;
  /* Make the span a block element */
  width: 15px;
  /* Set the width to fill the parent */
  height: 2px;
  /* Adjust the height for the line thickness */
  background: black;
  /* Set the color of the line */
  position: absolute;
  /* Position it relative to the h2 */
  top: 50%;
  /* Adjust based on your preference */
  left: 0px;
  transform: translateY(-50%);
  /* Center the line vertically */
}

.sub-tree {
  list-style: none;
  /* Remove default bullet points */
  position: relative;
  /* Position relative for pseudo-elements */
  padding: 0;
  margin: 0;
  margin-left: 1.2rem;
}

.sub-tree li {
  position: relative;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.sub-tree li::before {
  content: '';
  /* Empty content for the line */
  position: absolute;
  left: 0px;
  /* Position the line */
  top: 0;
  bottom: 0;
  width: 2px;
  /* Line thickness */
  z-index: 10;
  background-color: rgb(80, 80, 80);
  /* Line color */
}

/* tree structure end */

.page {
  flex-basis: 75%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll; /* Allows main content to scroll independently */
  padding: 0.5rem; /* Optional padding */
  scroll-behavior: smooth;
}

.page .page-title {
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  font-size: 2.9rem;
  border-bottom: 2px solid rgb(220, 220, 220);

  text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
  color: hsl(200 50% 90%);
  background: hsl(200 50% 50%);
}
.section {
  position: relative;

  padding: 0.5rem;
  margin-block: 1rem;
  font-size: 2rem;
}
.choice-box {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1px;
  background-color: rgb(109, 100, 100);
}

/* choice box section style for laptop  : modify required */
.choice-box span {
  display: none;
}
.choice-box-list {
  padding: 0.5rem 0.5rem;

  margin-block: auto;
  display: flex;

  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.8rem;
}

.fa-arrow-down,
.fa-arrow-up,
.fa-arrow-right {
  font-size: 1.5rem;
}

.choice-box-list li label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  gap: 8px;
}

.choice-box-list li:first-of-type label {
  padding-left: 0.4rem;
}

.choice-box-list li label input {
  transform: scale(1.5);
}
/* choice box style end */

/* commen css */

.sub-title {
  padding: 1rem 0.5rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.photo {
  width: 40%;
  margin: 0.5rem 2rem 0.3rem 0rem;
  padding: 0rem 1rem 1rem 1rem;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* commen css end */
/* concept section style */

.concept-section {
  background-color: rgb(255, 255, 255);
}

.concept-section img {
  width: 40%;
  margin: 0.5rem 2rem 0.3rem 0rem;
  padding: 0rem 1rem 1rem 1rem;
  float: unset;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.concept-section p {
  padding: 1rem 0.5rem 0 1rem;
}

/* concept section end */

/* history section normal flow style */

.history-section {
  background-color: rgb(255, 255, 255);
}

.history-section .normal-flow {
  padding: 0.5rem;
}

.history-section .normal-flow .inventor-card .inventor-img {
  width: 40%;
  margin: 0.5rem 2rem 0.3rem 0rem;
  padding: 0rem 1rem 1rem 1rem;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.history-section .normal-flow .inventor-card .inventor-name {
  font-weight: bold;
  padding: 2rem 0 1rem 0;
}
.history-section .normal-flow .inventor-card .contribution {
  padding: 0 1rem;
}
.history-section .normal-flow div:not(:last-child) {
  border-bottom: 3px dotted rgb(200, 200, 200);
  margin-bottom: 2rem;
}
/* history section normal flow end */

/* types section normal flow  style */

.types-section {
  background-color: rgb(255, 255, 255);
}

.types-section .normal-flow .types-card {
  padding: 0.5rem;
}
.types-section .normal-flow .types-card .types-title {
  font-size: 2.1rem;
  font-weight: bold;
  padding: 0.5rem 0 0.8rem 0.5rem;
}

.types-section .normal-flow .types-card .types-info {
  padding: 1rem;
}

.types-section .normal-flow div:first-child {
  border-bottom: 3px dotted rgb(200, 200, 200);
  margin-bottom: 2rem;
}

/* types section normal flow end */

/* purpose and importance section normal flow style */

.purpose-importance-section {
  background-color: rgb(255, 255, 255);
}

.purpose-importance-section .normal-flow .qna-card {
  padding: 0.5rem;
}

.purpose-importance-section .normal-flow .qna-card .question {
  font-size: 2.3rem;
}

.purpose-importance-section .normal-flow .qna-card .answer {
  margin-left: 1.5rem;
}

.purpose-importance-section .normal-flow div:not(:last-child) {
  border-bottom: 3px dotted rgb(200, 200, 200);
  margin-bottom: 0.9rem;
}

/* purpose and importance section normal flow ebd */

/* explaination section normal flow style */

.explanation-section {
  background-color: rgb(255, 255, 255);
}

.explanation-section .normal-flow .explanation-card {
  margin-inline: 1.5rem;
}

.explanation-section .normal-flow .explanation-card .explanation-steps {
  font-size: 2rem;
  font-weight: bold;

  padding: 1rem 0;
}

.explanation-section .normal-flow .explanation-card .steps-image {
  width: 80%;
  display: block;
  margin: 0.5rem auto;
}

.explanation-section .normal-flow .explanation-card .step-explanation {
  padding: 1rem 0;
}

.explanation-section .normal-flow div:not(:last-child) {
  border-bottom: 3px dotted rgb(200, 200, 200);
  margin-bottom: 0.9rem;
}

/* explaination section normal flow end */

/* animation section style */

.animation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-area {
  width: 100%;
}

/* animation section end */

/* advantages and disadvantages section normal flow style */

.advantages-disadvantages-section {
  background-color: rgb(255, 255, 255);
}

.advantages-disadvantages-section .normal-flow .advdis-card {
  margin-inline: 1rem;
}

.advantages-disadvantages-section .normal-flow .advdis-card .advdis-title {
  font-size: 2rem;
  font-weight: bold;
}

.advantages-disadvantages-section .normal-flow .advdis-card .advdis-points {
  margin-left: 1rem;
}

.advantages-disadvantages-section .normal-flow div:not(:last-child) {
  border-bottom: 3px dotted rgb(200, 200, 200);
  margin-bottom: 0.9rem;
}

/* advantages and disadvantages section normal flow end */

/* use case section normal flow style */

.usecase-section {
  background-color: rgb(255, 255, 255);
}

.usecase-section .normal-flow .usecase-card {
  margin-inline: 1rem;
}

.usecase-section .normal-flow .usecase-card .case {
  font-size: 2rem;
  font-weight: bold;
}

.usecase-section .normal-flow .usecase-card .case-info {
  margin-left: 1rem;
}

.usecase-section .normal-flow div:not(:last-child) {
  border-bottom: 3px dotted rgb(200, 200, 200);
  margin-bottom: 0.9rem;
}

/* use case section normal flow end */

/* key aspects normal flow style */

.key-aspects-section {
  background-color: rgb(255, 255, 255);
}

.key-aspects-section .normal-flow .aspects-card {
  margin-inline: 1rem;
}

.key-aspects-section .normal-flow .aspects-card .aspects-title {
  font-size: 2rem;
  font-weight: bold;
}

.key-aspects-section .normal-flow .aspects-card .aspect-title {
  margin-left: 1rem;
  font-size: 2rem;
  padding: 0.5rem;
}

.key-aspects-section .normal-flow .aspects-card .aspect-info {
  margin-left: 2.5rem;
}

.key-aspects-section .normal-flow .aspect-seperator {
  border-bottom: 2px dotted rgb(150, 150, 150);
  border-top: none;
  margin: 1rem 0;
}

/* key aspects section normal flow end */

/* scenarios section style */

.scenarios-section {
  background-color: rgb(255, 255, 255);
}

.scenarios-section .normal-flow .scenarios-card {
  margin-inline: 1.5rem;
}

.scenarios-section .normal-flow .scenarios-card .scenarios-title {
  font-size: 2rem;
  font-weight: bold;

  padding: 1rem 0;
}

.scenarios-section .normal-flow .scenarios-card .scenarios-image {
  width: 80%;
  display: block;
  margin: 0.5rem auto;
  float: unset;
}

.scenarios-section .normal-flow .scenarios-card .scenarios-explanation {
  padding: 1rem 0.5rem;
}

.scenarios-section .normal-flow div:not(:last-child) {
  border-bottom: 3px dotted rgb(200, 200, 200);
  margin-bottom: 0.9rem;
}

/* scenarios section end */

/*
h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.section {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.section p {
  color: #343a40;
  line-height: 1.6;  
  margin-bottom: 1.75rem;
}

.section img {
  display: block;

  height: auto;
  margin: 0.75rem 0;
  border-radius: 4px;
}

.section div {
  margin-bottom: 1rem;
}

.section {
  margin-bottom: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card h3 {
  margin-bottom: 10px;
}
.card img {
  height: auto;
  margin-top: 10px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .card {
    max-width: 300px;
 }
}
*/
